# Виртуальное окружение
.venv/
venv/
env/
.env
ENV/

# Кэш Python (скомпилированные файлы)
**/__pycache__/
*.py[cod]
*$py.class

# Настройки VS Code
.vscode/
!.vscode/settings.json
!.vscode/launch.json

# Распределенные системы (если будете собирать пакет)
dist/
build/
*.egg-info/

# Файлы операционной системы
Thumbs.db
.DS_Store

# Файлы/структура проекта
config/*.ini
config/*.cfg
export_data/
export_ml/
images/
images_save/
input/
log/
web/
qc_reports/
requirements_*.txt
*.ipynb
.cache.sqlite
