# ===================================================================
# Аргументы для работы блока экспорта данных (наблюдения, прогнозы)
# ===================================================================
# Работает только по рассчитанным прогнозам (запуск расчета прогноза в этом режиме не осуществляется)

[ARGS]
# Включение режима экспорта данных
mode=export
case=default

# Дата начала периода для экспорта (ГГГГ-ММ-ДД): 
#   если прогноз, то дата старта прогноза вперед для 1-го прогноза серии
start-date=2026-05-01

# Дата окончания периода для экспорта (ГГГГ-ММ-ДД): 
#    если прогноз, то дата старта прогноза вперед для последнего прогноза серии
end-date=2026-05-13

# Если прогноз, то шаг смещения даты старта прогноза:
#   по умолчанию - шаг = 1 день (1d)
# При экспорте наблюдений - игнорируется
step-date=3d

# Директория для записи файлов с экспортируемыми данными (относительно корневой директории проекта)
output-folder=export_data

[FORECAST_ARGS]
# Аргументы расчета прогноза, которые были использованы ранее при расчетер прогнозов

# Режим расчета прогноза: 
#   forec_adj - расчет локального прогноза на основе данных Open-Meteo + отрисовка результата; 
#   forec_stat - расчет статистического прогноза на основе только данных наблюдений из БД ИМКЭС + отрисовка результата;  
mode=forec_adj 

# Добавлять ли в отрисовку график глобального прогноза Open-Meteo, на основе которого строился локальный прогноз?
#   yes - добавить
#   no - не добавлять
add-globforecast-plot=yes

# Количество дней предшествующих текущей дате (используется в качестве периода для обучения ML-моделей)
#   допустимые варианты значений: 1d | 3d | 7d | 14d | 30d
time-depth=3d

# Количество дней следующих за текущей датой (используется для прогноза вперед)
#   допустимые варианты значений: 1d | 3d | 7d | 14d
time-forecast=1d

# Тип глобального прогноза Open-Meteo, используемого для построения локального прогноза
#   realtime - оперативный прогноз относительно реального текущего момента времени
#   historical - прогноз на историческом периоде
forecast-type=historical

# Путь и имя конфигурационного файла, необходимого для запуска расчета прогноза
#   Путь задается относительно корневой директории проекта
config=./config/config.ini