# ====================================================
# Аргументы для работы блока формирования QC-отчетов 
# ====================================================

[ARGS]
# Включение режима QC-отчета
mode=qc

# Варианты работы:
#   need_forecast - сначала будут проведены расчеты прогнозов, затем составлен QC-отчет (используется по умолчанию)
#   forecast_prepared - формирование QC-отчета на основе ранее уже подготовленных прогнозов
#case=need_forecast
case=forecast_prepared

# Дата начала периода для формирования QC-отчета (ГГГГ-ММ-ДД): 
#   дата старта прогноза вперед для 1-го прогноза оцениваемой серии
start-date=2026-05-01

# Дата окончания периода для формирования QC-отчета (ГГГГ-ММ-ДД): 
#   дата старта прогноза вперед для последнего прогноза оцениваемой серии
end-date=2026-05-13

# Шаг смещения даты старта прогноза:
#   можно оценивать не каждый прогноз, а с каким-то шагом
#   по умолчанию - шаг = 1 день (1d)
step-date=3d

# Директория для записи сформированных QC-отчетов
output-folder=qc_reports

# Цветовой режим отрисовки сводных графиков прогнозов в QC-отчете:
#   bw - черно-белый
#   color - цветной (все локальные прогнозы зеленые, все глобальные прогнозы красные) (default)
#   grad - градиентный (цвета локальных прогнозов и глобальных прогнозов зависят от даты старта прогноза)
plot-mode=color
# Варианты цветовых схем для градиентного режима отрисовки графиков в QC-отчете:
# https://matplotlib.org/stable/users/explain/colors/colormaps.html
color-map=brg

[FORECAST_ARGS]
# Аргументы для расчета прогнозов, которые необходимо использовать, 
#   или которые были использованы ранее

# Режим расчета прогноза: 
#   forec_adj - расчет локального прогноза на основе данных Open-Meteo + отрисовка результата; 
#   forec_stat - расчет статистического прогноза на основе только данных наблюдений из БД ИМКЭС + отрисовка результата;  
mode=forec_adj 
#mode=forec_stat

# Добавлять ли в отрисовку график глобального прогноза Open-Meteo, на основе которого строился локальный прогноз?
#   yes - добавить
#   no - не добавлять
add-globforecast-plot=yes

# Количество дней предшествующих текущей дате (используется в качестве периода для обучения ML-моделей)
#   допустимые варианты значений: 3d | 7d | 14d | 30d
#   time-depth должен быть строго БОЛЬШЕ, чем time-forecast
time-depth=3d

# Количество дней следующих за текущей датой (используется для прогноза вперед)
#   допустимые варианты значений: 1d | 3d | 7d | 14d
time-forecast=1d

# Тип глобального прогноза Open-Meteo, используемого для построения локального прогноза
#   realtime - оперативный прогноз относительно реального текущего момента времени
#   historical - прогноз на историческом периоде
forecast-type=historical

# Путь и имя конфигурационного файла, необходимого для запуска расчета прогноза
#   Путь задается относительно корневой директории проекта
config=./config/config.ini