# ===========================================================================
# Аргументы, задающие режим работы ML-моделей для прогноза метео-параметров 
# ===========================================================================

# ВАЖНО! 
#   1. Пробелы между именем аргумента, знаком равно и значением аргумента НЕДОПУСТИМЫ.
#   2. Комментарии могут быть только на отдельной строке, и начинаются со знака решетки (#).

# Раздел [default] задает модель по умолчанию и гиперпараметры для нее.
# Модель по умолчанию используется для всех метеопараметров кроме тех, что указаны ниже дополнительно.
# В минимальном варианте в этом файле возможно наличие только раздела [default].
# Наличие раздела [default] обязательно (даже если далее все метео-параметры указаны поименно).

# В каждом разделе обязательно должна быть задана ml-модель ключ model со значением.
# Остальное - опционально

# Полный перечень возможных ключей и их значений представлен в документации к программе.

[default]
model=LinearRegression
grid-search=False
# если grid-search=False можно указать значения гиперпараметров вручную 
#                       если не указывать, то будет использована базовая модель
# grid-search по умолчанию будет задано False
# имя-гиперпараметра-1=значение
# имя-гиперпараметра-2=значение
# ....

# При желании для отдельных параметров можно использовать другие модели с их соответствующими гиперпараметрами
[ta]
model=RandomForestRegressor
grid-search=False
#max_depth=2
# имя-гиперпараметра-1=значение
# имя-гиперпараметра-2=значение
# ....

[rh]
model=autoset
model-set=LinearRegression, DecisionTreeRegressor
grid-search=False
get-result=mean
best-result-metrics=RMSE
# get-result=best: (по умолчанию) в качестве результата будет выбран прогноз модели, которая дала наилучший прогноз на train по метрике r2
# get-result=mean: в качестве результата будет выбран средний прогноз по всем рассмотренным моделям
# get-result нужен только там, где должно рассматриваться несколько моделей
# имя-гиперпараметра-1=значение
# имя-гиперпараметра-2=значение
# ....

[pres]
model=XGBRegressor
grid-search=False
#get-result=mean
# имя-гиперпараметра-1=значение
# имя-гиперпараметра-2=значение
# ....

[ws]
model=ExponentialSmoothing
grid-search=False
seasonal_periods=24
seasonal=add
trend=add
damped_trend=True

[isr]
model=RandomForestRegressor
grid-search=False
#get-result=mean