# ==============================================
# Аргументы для запуска блока расчета прогноза 
# ==============================================

# ВАЖНО! 
#   1. Пробелы между именем аргумента, знаком равно и значением аргумента НЕДОПУСТИМЫ.
#   2. Комментарии могут быть только на отдельной строке, и начинаются со знака решетки (#)

# Режим расчета: 
#   forec_adj - расчет локального прогноза на основе данных Open-Meteo + отрисовка результата; 
#   forec_stat - расчет статистического прогноза на основе только данных наблюдений из БД ИМКЭС + отрисовка результата;  
#   obs_plot - загрузка данных наблюдений из БД ИМКЭС и их отрисовка (без расчета прогноза)
MODE=forec_adj 

# Добавлять ли в отрисовку график глобального прогноза Open-Meteo, на основе которого строился локальный прогноз?
#   yes - добавить
#   no - не добавлять
ADD_GLOBFORECAST_PLOT=yes

# Количество дней предшествующих текущей дате (используется в качестве периода для обучения ML-моделей)
# Формат записи: <кол-во дней>d 
# Например: 5d
# Допустимы любые значения > 0d
TIME_DEPTH=3d

# Количество дней следующих за текущей датой (используется для прогноза вперед)
# Формат записи: <кол-во дней>d 
# Например: 5d
# Допустимы любые значения > 0d
TIME_FORECAST=1d

# Максимальный допустимый процент пропусков от общего объема данных
# Значение по умолчанию: 10.
# Допустимые значения: >= 0. и <= 90.
# Если задано значение > 90., то оно автоматически будет заменено на 90.
DATA_MISSINGS_PERCENT=10.

# Тип глобального прогноза Open-Meteo, используемого для построения локального прогноза
#   realtime - оперативный прогноз относительно реального текущего момента времени
#   historical - прогноз на историческом периоде
FORECAST_TYPE=historical

# Текущая дата в формате ГГГГ-ММ-ДД
#   Необходима для запуска прогноза на исторических данных (при FORECAST_TYPE=historical)
#   При запуске для текущего момента времени (при FORECAST_TYPE=realtime) определяется автоматически (значение, указанное в переменной игнорируется)
NOW_DATE=2026-05-01

# Путь и имя конфигурационного файла, необходимого для запуска расчета прогноза
#   Путь задается относительно корневой директории проекта
CONFIG_FILE=./config/config.ini