# ====================================================
# Аргументы для запуска блока формирования QC-отчета 
# ====================================================

# ВАЖНО! 
#   1. Пробелы между именем аргумента, знаком равно и значением аргумента НЕДОПУСТИМЫ.
#   2. Комментарии могут быть только на отдельной строке, и начинаются со знака решетки (#)

# Формирование QC- отчета может осуществляться (1) с предварительным запуском расчета необходимых прогнозов
# или (2) по ранее уже рассчитанным прогнозам (должны быть в наличии соответствующие .pkl файлы)
# Все настройки работы производятся в файле, указанном ниже.

# Путь и имя конфигурационного файла, необходимого для формирования QC-отчета
#   Путь задается относительно корневой директории проекта
FARGS=./config/args_qc.ini
